<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ege_mathematics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EgeMathematics">
        <activity
            android:name=".exercizes"
            android:exported="true" />
        <activity
            android:name=".kimsProfile"
            android:exported="true" />
        <activity
            android:name=".ProfileMath"
            android:exported="true" />
        <activity
            android:name=".BaseMath"
            android:exported="true" />
        <activity
            android:name=".formulas_geometry"
            android:exported="true" />
        <activity
            android:name=".formulas_algebr"
            android:exported="true" />
        <activity
            android:name=".theoretitics"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>